<html ng-app="ThePicture">
    <head>
        <title>boutique bio jquery</title>
        <link rel="stylesheet" type="text/css" href="style/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="style/galerie.css" />
        <script type="text/javascript" src="js/jquery-3.1.0.js" ></script>
        <script type="text/javascript" src="js/angular.js" ></script>
        <script type="text/javascript" src="js/bootstrap.js" ></script>
        <script type="text/javascript" src="js/galeriephoto.js" ></script>
        <script type="text/javascript" src="js/controllers/photoCtrl.js" ></script>
        <script type="text/javascript" src="js/controllers/navigationCtrl.js" ></script>
    </head>
    <body ng-controller="navigationCtrl">
         <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Galerie PHOTOS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a ng-click="setCurrentView(0)" href="#">Produits</a></li>
            <li><a ng-click="setCurrentView(1)" href="#about">Commandes</a></li>
            <li><a href="#contact">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
        <ng-include src="getViewAdress()"></ng-include>
    </div>
    </body>
</html>